body {
    height: 1155px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(124, 255, 70);
    background: linear-gradient(36deg, rgba(124, 255, 70, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
  
  .main-con {
    width: 1000px;
    height: 800px;
    background: rgb(208, 225, 240);
    background: radial-gradient(
      circle,
      rgba(208, 225, 240, 1) 0%,
      rgba(159, 190, 247, 1) 25%,
      rgba(197, 192, 200, 1) 83%,
      rgba(208, 225, 240, 1) 100%
    );
  }
  
  .main-con .con {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-con .image {
    margin-top: 10px;
    width: 600px;
    height: 400px;
  }
  
  h2 {
    font-family: monospace;
    color: #333;
    font-size: 35px;
  }
  
  h3 {
    margin: 0;
    font-family: monospace;
    color: #333;
    font-size: 25px;
  }
  
  p {
    height: 210px;
    font-family: monospace;
    color: #fff;
    margin: 10px 10px 10px 10px;
    font-size: 16px;
  }